<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css"/>
   	<link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="static/main.css"/>
</head>
<body>
    <h1>Error</h1>
    <p>An unkown error has happened</p>
    <a href="index.html" th:href="@{/}">Back to Home Page</a>
</body>
</html>