<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="static/main.css"/>
</head>
<body>
	<div class="container login-container">
		<h1>Login</h1>
		<div th:if="${loginError}" class="alert alert-danger" role="alert">
			Wrong user or password
		</div>

		<form th:action="@{/login}" method="post">
			<div class="row form-group">
				<label for="username">Username</label>: 
				<input class="form-control" type="text" id="username" name="username" autofocus="autofocus" />
			</div>
			<div class="row form-group">
				<label for="password">Password</label>: 
				<input class="form-control" type="password" id="password" name="password" /> <br />
			</div>
			<div class="row form-group">
				<div class="offset-sm-2 col-sm-12">
					<input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>